<div class="info">
    First Name: <b> {{ this.survey.first }}</b><br>
    Last Name: <b> {{ this.survey.last }}</b><br>
    Address: <b> {{ this.survey.address }}</b><br>
    City: <b> {{ this.survey.city }}</b><br>
    State: <b> {{ this.survey.state }}</b><br>
    Zipcode: <b> {{ this.survey.zipcode }}</b><br>
    Phone No.: <b> {{ this.survey.phone }}</b><br>
    Email: <b> {{ this.survey.email }}</b><br>
    Likes: <b> {{ this.survey.likes }}</b><br>
    Interest: <b> {{ this.survey.interest }}</b><br>
    Recommendation: <b> {{ this.survey.recom }}</b><br>

</div>
